/* 
    HTML5 Responsive Web Design Template
    by Stefan Schultz
    for MDDN 352: Mobile Media (T1 2018)
*/


html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #606060;
    overflow-x: hidden;
}

body {
    width: 100%;
}

.hero {
    height: 100vh;
    background-image: url('../img/3.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    transition: .5s;
    
}

.scrim {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30vh;
    top: 10vh;
}

.scrim > h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
    font-weight: 100;
    color: white;
    font-size: 3rem;
}

.scrim > a {
    position: relative;
    text-align: center;
    top: 35vh;
    color: white;
    text-decoration: none;
}

.section1 {
    height: 100vh;
}

.body-flex {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

.body-flex > div {
    height: 50vh;
    margin: auto;
    padding-top: 28vh;
}

.body-flex > div > img {
    height: 80%;
    flex-grow: 1;
    margin: 10px;
}

@media(max-width: 1024px) {
    .hero {
        background-image: url('../img/1.JPG');
        transition: .5s;
    } 
    
    .body-flex > div {
        padding-top: 12vh;
    } 
}

@media(max-width: 414px) {
    .hero {
        background-image: url('../img/2.JPG');
        transition: .5s;
    }
    
    .body-flex > div {
        padding-top: 8vh;
    }
    
}
